body {
  font-family: sans-serif;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.button {
  border-radius: 10px;
  background-color: #ffd200;
  padding: 18px 30px;
  border: none;
}

@media (max-width: 1200px) {
  .container {
    width: 960px;
  }
}

@media (max-width: 970px) {
  .container {
    max-width: 750px;
    width: 95%;
  }
}

.navbar {
  padding: 8px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
}

.navbar__contacts a {
  display: inline-block;
  margin-top: 10px;
  color: #333333;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}

.navbar__contacts span {
  display: inline-block;
  color: #333333;
  font-size: 13px;
}

.navbar__button {
  margin-left: 30px;
}

@media (max-width: 768px) {
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 12px;
    padding: 14px 25px;
    margin-left: 5px;
  }
  .navbar__logo {
    max-width: 48%;
  }
}

.hero {
  background-color: #f5f5f5;
  padding-top: 90px;
  padding-bottom: 52px;
}

.header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-block__text {
  max-width: 462px;
}

.header-block__text h1 {
  font-size: 41px;
  font-weight: 400;
  line-height: 55px;
  margin-bottom: 50px;
}

.header-block__text strong {
  display: block;
  font-size: 20px;
  font-weight: 400;
  color: #333333;
  margin-bottom: 83px;
}

.header-block__text__advantages {
  max-width: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-block__text__advantages img {
  border: 2px solid #ffd200;
  border-radius: 50%;
  padding: 8px;
  margin-right: 40px;
  height: 20px;
  width: 20px;
}

@media (max-width: 768px) {
  .hero {
    padding-top: 45px;
    padding-bottom: 26px;
  }
  .header-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
  }
  .header-block__text {
    margin: 0 auto;
  }
  .header-block__text h1 {
    font-size: 41px;
    font-weight: 400;
    line-height: 55px;
    margin-bottom: 13px;
  }
  .header-block strong {
    display: block;
    font-size: 20px;
    font-weight: 400;
    color: #333333;
    margin-bottom: 43px;
  }
  .header-block__advantages {
    max-width: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-block__advantages p {
    font-size: 14px;
    color: #ffd200;
  }
  .header-block__advantages img {
    border: 2px solid #ffd200;
    border-radius: 50%;
    padding: 8px;
    margin-right: 25px;
    height: 20px;
    width: 20px;
  }
  .header__photo {
    margin: 0 auto;
  }
}
/*# sourceMappingURL=style.css.map */